<div class="footer navbar-fixed-bottom" style="background-color:#D1EADB">
	<div class="container-fluid" style="margin:auto;>
		<div class="row">
			<div class="col-md-8">
				Application produced by S. Mouatta, L. Nicolas, S.Nussbaum
			</div>
			<div class="col-md-3">

			</div>
			<div class="col-md-1">
			<a href="https://github.com/lauriencls/TweetQuizzzz">
				<img src="http://www.freeiconspng.com/uploads/github-logo-icon-0.png" class="img-responsive" width="35" height="35"/>
			</a>


			</div>
		</div>
	</div>
</div>