<div class="footer navbar-fixed-bottom" style="background-color:#F4E8D9">
	<div class="container-fluid">
		<div class="row" >
			<div class="col-md-6">
				Application produced by S. Mouatta, L. Nicolas, S.Nussbaum
			</div>
			<div class="col-md-3">

			</div>
			<div class="col-md-3">
			<a href="https://github.com/lauriencls/TweetQuizzzz">
				<img src="http://www.freeiconspng.com/uploads/github-logo-icon-0.png" class="img-responsive" width="50" height="50"/>
			</a>


			</div>
		</div>
	</div>
</div>