<div class="container">
	<div class="row">
	    <div class="col-md-3"></div>
	    <div class="col-md-3" style="text-align: center">
	    	Meilleurs joueurs :
	    </div>
	    <div class="col-md-3" style="text-align: center">
	    	Scores :
	    </div>
	    <div class="col-md-3"></div>
	</div>
<!--
	<div ng-repeat="score in bestScores">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-3">
				{{score.playerName}}
			</div>
			<div class="col-md-3">
				{{score.score}}
			</div>
			<div class="col-md-3"></div>
		</div>
  
	</div>
//-->

</div>