<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="text-align: center; text-align: justify;">
			<!-- 
					<p>Ce quiz vous permet de mettre vos connaissances &agrave; l'&eacute;preuve sur les comptes que vous suivez sur Twitter. 
					Choisissez parmi quatre auteurs de tweets choisis au hasard sur votre fil d'actualit&eacute;. Trouvez les bons auteurs
					et essayez de faire un sans-faute !</p>
					
					<p style="font-style:italic">Une seule condition : Suivre au minimum dix comptes Twitter.</p>
			 -->
			 		<p>Ce quiz vous permet d'entrer le hashtag de votre choix et recup&agrave;re les derniers tweets relatifs. Trouvez les bons auteurs
					et essayez de faire un sans-faute !</p>
			 		
			 		<p style="font-style:italic">Une seule condition : Entrer un #Hashtag valide.</p>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="row" style="margin-top:20px;">
				<div class="col-md-1"></div>
				<div class="col-md-10" style="text-align: center">
					<input type="text" ng-model="playerName" placeholder="Entrez votre hashtag"> 
				</div>
				
				<div class="col-md-1"></div>
			</div>
			<div class="row" style="margin-top:20px;">
				<div class="col-md-12" style="text-align: center;">
					<button class="btn btn-default btn-lg" ng-click="play(playerName)">Jouer</button>
				</div>
			</div>
			
			<div class="row" ng-show="loading">
				<div class="col-md-12">
					<div class="spinner">
			  			<div class="cube1"></div>
			  			<div class="cube2"></div>
			  		</div>
				</div>
			</div>
			
			<div class="row" style="position:absolute;">
				<div class="col-md-12">
					<img src="/assets/img/blue-bird.jpg" class="img-responsive" height="223">
				</div>
			</div>
			
		</div>